/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
@import "compass/css3";

@mixin menulist {
  li {
    display: inline;
    padding: 20px 10px 15px 10px;
    font-weight: 500;
    color: #563d7c;
    line-height: 20px;
    &.custom_li {
      margin-right: 40px;
      font-weigth: 500;
      font-size: 1.5em;
      &:hover {
        background: white;
      }
      a {
        font-weigth: 500;
        font-size: 20px;
      }
    }
    &:hover {
      background: lighten(lightgray, 13%);
    }

  }
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

.headersection {
  a {
    display: inline;
    text-decoration: none;
    font-size: 14px;
  }
}



.button {
  display: block;
  height: 25px;
  width: 190px;
  padding: 15px 30px;
  background: transparent;
  border: 1.5px solid white;
  position: relative;
  top: 300px;
  left: 800px;
  vertical-align: middle;
  text-align: center;
  color: white;
  font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 6px;
  text-decoration: none;
  &:hover {
    background: white;
    color: #6f5499;
  }
}

.curtain {
  background-color: #6f5499;
  margin-top: 20px;
  text-align: center;

  span {
    display: inline;
    margin-top: 250px;
    width: 144px;
    height: 144px;
    background: transparent;
    border: 1.5px solid white;
    border-radius: 6px;
    color: white;
    font-size: 80px;
    text-align: center;
  }
  p {
    width: 100%;
    display: block;
    margin: 20px auto;
    color: white;
    font-weight: bold;
    line-height: 2.4;
    font: 30px "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 65%;
    text-align: center;
  }
}

ul.leftmenu {
  display: inline;
  margin-right: 200px;
  @include menulist;
}

ul.rightmenu {
  display: inline;
  margin-left: 400px;
  top: 10px;
  right: 40px;
  @include menulist;
}





